.Typewriters {
    color: darkturquoise;
    margin: 0 auto;
    font-size: 3rem;
    min-width: 25rem;
    max-width: 25rem;
    text-align: center;
    p {
        color: lightcyan;
    }
}


@media only screen and (max-width: 600px) {
    .Typewriters {
        font-size: 2rem;
        min-width: 22rem;
        max-width: 22rem;
    }
}
