.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
    background:rgba(0, 0, 0, 0.205);
    // background-color: black;
    // opacity: 0.4;
    nav {
        ul {
            display: flex;
            list-style: none;
            gap: 1rem;
            margin-right: 2rem;
            li {
                a {
                    text-decoration: none;
                    color: darkturquoise !important;
                }
            }
        }
    }
}


// .box {
//     margin: 0 auto;
//     width: 20rem;
//     height: 20rem;
//     background-color: teal;
// }

@media only screen and (max-width: 600px) {
    // .box {
    //     width: 10rem;
    //     height: 10rem;
    //     margin-top: 20px;
    // }
}
